.App {
  font-family: sans-serif;
  text-align: center;
}
.body-class {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-style {
  border: 1px solid #808080;
}
.change-element-style {
  display: flex;
  width: 75px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.change-button-style {
  display: flex;
  flex-direction: column;
}

.button-order {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-style {
  width: 200px;
  display: flex;
  justify-content: center;
}
